*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

p{
  font-size: 32px;
  line-height: 70px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #F1D268;
}