@import "../../global.scss";

.events{
  background-color: #262626;
  height: 100vh;
  width: 960px;
  font-family: 'Roboto', sans-serif;
  overflow-wrap: break-word;
  text-align: center;
  align-items: center;
  #content{
    display: grid;
    grid-template-columns: repeat(1,100%);
    grid-template-rows: 1fr 3fr 3fr 1fr;
    height: 100%;
  }
  .one{
    background: #F1D268;
    color: #262626;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    line-height: 50px;
    cursor: pointer;
  }
  .two{
    background: purple;
  }
  .three{
    background: green;
  }
  .four{
    background-color: #262626;
    color: #F1D268;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    line-height: 50px;
    cursor: pointer;
  }
}