@import "../../global.scss";

.landing{
  // background-color: burlywood;
  text-align: center;
  #content{
    display: grid;
    // grid-template-columns: 100%;
    // grid-template-columns: 1fr; // fraction of widths
    grid-template-columns: repeat(1,1fr); // if we want to repeat the same
    grid-template-rows: 100px 100px 200px;
    max-width: 100%;
    margin: 0 auto;
  }
  #content div{
    background: #F1D268;
    padding: 30px;
  }
  #content div:nth-child(even){
    background: #F1D268; // to change the colour of every even row
  }
}