@import "../../global.scss";

.events{
  background-color: #262626;
  height: 100vh;
  width: 960px;
  font-family: 'Roboto', sans-serif;
  overflow-wrap: break-word;

  #content #event{
    display: grid;
    grid-template-columns: repeat(3,33%);
    grid-template-rows: repeat(1, 100%);
    height: 100%;
  }
  #content #event .one{
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #262626;
  }
  #content #event .two{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: white;
  }
  #content #event .three{
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: black;
  }
}